div.windowBackground {
    position: fixed;
    left: 0;
    top: 0;
    height: inherit;
    width: inherit;
    background-color: var(--transparent-background);
    backdrop-filter: blur(5px);
}

#projectDetails {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#projectDetails > article {
    position: fixed;
    left: 0;
    top: 0;
    height: 50vh;
    width: 70vw;
    transform: translate(22.5%, 50%);
    background-color: var(--second-background);
    border-radius: 2rem;
    box-shadow: 0 0 8px 1px var(--shadow-color);
    display: flex;
}

#projectDetails > article > section {
    padding: 2rem;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
}

#projectDetails > article > img {
    width: 50%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

#projectDetails > article > section > header {
    display: flex;
    justify-content: space-between;
}

#projectDetails > article > section > header > a {
    height: 24px;
    width: 92px;
    font-size: 13pt;
    background-color: var(--button-color-secundary);
    color: var(--global-font-color-alternative);
    padding: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px 0 1px #2c7735;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#projectDetails > article > section > header > a:hover {
    box-shadow: 2px 2px 0 1px #2c7735;
    transform: translate(2px, 2px);
}
#projectDetails > article > section > header > a:active {
    box-shadow: 0px 0px 0 1px #2c7735;
    transform: translate(4px, 4px);
}

#projectDetails > article > section > header > div {
    display: grid;
    row-gap: 1rem;
}

#projectDetails > article > section > main {
    line-height: 24px;
    text-align: justify;
}

#projectDetails > article > section > main > p > a {
    color: rgb(128, 171, 245);
}

button#closeProjectDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transform: translate(85vw, 21vh);
    cursor: pointer;
}

@media(max-width: 1024px) {

    #projectDetails > article {
        width: 90vw;
        transform: translate(6%, 50%);
    }

    button#closeProjectDetails {
        transform: translate(95vw, 21vh);
    }
}

@media(max-width: 768px) {

    #projectDetails > article {
        position: unset;
        display: grid;
        height: fit-content;
        transform: none;
        z-index: 99;
    }

    #projectDetails > article > section {
        width: unset;
        padding: 1.5rem;
    }

    #projectDetails > article > img {
        width: 100%;
        height: 25vh;
    }

    button#closeProjectDetails {
        transform: translate(93vw, 6vh);
    }
}