@font-face {
    font-family: OpenSans;
    src: url('./media/fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: AltG;
    src: url('./media/fonts/din1451altG/din1451altG.ttf');
}

@media(prefers-color-scheme: dark) {
    .dynamic-theme {
        --first-background: #393939;
        --second-background: #2b2b2b;
        --third-background: #5b5b5b;
        --transparent-background: #000000c0;

        --shadow-color: #222222;
        --header-background: linear-gradient(340deg, hsl(180 100% 20% / 1),
                                                     hsl(240 100% 20% / 1),
                                                     hsl(300 100% 20% / 1));
        --header-background-inverse:
            linear-gradient(340deg, hsl(240 100% 20% / 1),
                                    hsl(300 100% 20% / 1),
                                    hsl(180 100% 20% / 1));

        --global-font-color: #fff;
        --global-font-color-alternative: #ffffff;

        --button-color-primary: #5557b3;
        --button-color-secundary: #55b360;
    }
}

@media(prefers-color-scheme: light) {
    .dynamic-theme {
        --first-background: #f0f2f4;
        --second-background: #FFFFFF;        
        --third-background: #e2e2e2;
        --transparent-background: #888888c0;

        --shadow-color: #a2a2a2;
        --header-background: linear-gradient(340deg, hsl(180 60% 60% / 1),
                                                     hsl(240 60% 60% / 1),
                                                     hsl(300 60% 60% / 1));

        --header-background-inverse:
            linear-gradient(340deg, hsl(240 60% 60% / 1),
                                    hsl(300 60% 60% / 1),
                                    hsl(180 60% 60% / 1));
        --global-font-color: #5E5E5E;
        --global-font-color-alternative: #ffffff;
        
        --button-color-primary: #5557b3;
        --button-color-secundary: #55b360;
    }
}

:root {
    --font-family: 'AltG', Arial, Helvetica, sans-serif;
    --font-size: 11pt;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    color: var(--global-font-color);
    font-family: var(--font-family);
    font-weight: 100;
}

body {
    background-color: var(--first-background);
}

section.topNavigationBar {
    display: flex;
    align-items: center;
    padding: 10px 4vw;
    column-gap: 1rem;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: var(--first-background);
    box-shadow: 0px 6px 4px 0px var(--shadow-color);
    z-index: 99;
}

h2.alternateColor {
    color: var(--global-font-color-alternative);
}

.topHeaderText {
    text-shadow: 2px 2px 5px var(--shadow-color);
    font-size: 22pt;
    padding: 8vh 4vw;
    background-image: var(--header-background);
}

h3 {
    font-size: 16pt;
}

h3.bottomHeaderText {
    padding: 6vh 4vw;
    padding-bottom: 2vh;
}

img.headerLogo {
    width: 4vh;
}

header > section.bottomHeader {
    height: 4vh;
    padding: 0vh 4vw;
    padding-top: 4vh;
    display: flex;
    align-items: flex-end;
}

@media(max-width: 768px) {

    .topHeaderText {
        padding: 4vh 4vw;
    }
}

/* Showroom ================================================================= */

section.page-showroom {
    padding-top: 70px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: var(--header-background-inverse);
}

div.page-showroom-container {
    display: inline-flex;
    opacity: 1.0;
}

.showroom-item {
    width: 20vw;
    overflow: hidden;
    transform: skewX(-10deg);
    border-left: 10px solid transparent;
    opacity: 0.75;
    filter: saturate(0.75);
}

.showroom-item-img {
    height: 40vh;
    transform: skewX(10deg) translateX(-150px) scale(1.05);
}

@media(max-width: 1366px) {
    .showroom-item {
        width: 20vw;
    }

    .showroom-item-img {
        height: 30vh;
    }
}

/* Main ===================================================================== */

main {
    min-height: 15vh;
}

ul.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh 4vw;
    padding-bottom: 8vh;
    column-gap: 1.75rem;
    row-gap: 2vh;
}

li.pageCardBody {
    list-style: none;
    width: 20vw;
    background-color: var(--second-background);
    border-radius: 1rem;
    box-shadow: 0px 0px 6px 0px var(--shadow-color);
}
li.pageCardBody:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 12px 4px var(--shadow-color);
    transition: 0.25s;
    cursor: pointer;
}

img.pageCardImage {
    width: inherit;
    height: 12vw;
    border-radius: 1rem;
    object-fit: cover;
    pointer-events: none;
}

section.pageCardDetails {
    padding: 1rem;
    display: flex;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    pointer-events: none;
}

section.pageCardDetailsText {
    display: grid;
    row-gap: 1rem;
    pointer-events: none;
}

h4.pageCardShortDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
}

a.pageCardPlayButton {
    height: 24px;
    font-size: 13pt;
    background-color: var(--button-color-secundary);
    color: var(--global-font-color-alternative);
    padding: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px 0 1px #2c7735;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}
a.pageCardPlayButton:hover {
    box-shadow: 2px 2px 0 1px #2c7735;
    transform: translate(2px, 2px);
}
a.pageCardPlayButton:active {
    box-shadow: 0px 0px 0 1px #2c7735;
    transform: translate(4px, 4px);
}

@media(max-width: 1600px) {
    li.pageCardBody {
        width: 28vw;
    }

    img.pageCardImage {
        height: 16vw;
    }
}


@media(max-width: 1024px) {
    li.pageCardBody {
        width: 40vw;
    }

    img.pageCardImage {
        height: 22vw;
    }
}

@media(max-width: 768px) {
    li.pageCardBody {
        width: 100%;
    }

    img.pageCardImage {
        height: 40vw;
    }

    li.pageCardBody:hover {
        transform: unset;
        box-shadow: unset;
    }

    a.pageCardPlayButton {
        min-width: 10vw;
    }
}

/* Footer =================================================================== */

section.footer-list {
    display: grid;
    row-gap: 2rem;
    padding: 4vh 4vw;
    background-color: var(--second-background);
}

form {
    display: grid;
    row-gap: 1rem;
    margin-top: 0;
}

form > div {
    display: grid;
    row-gap: 0.5rem;
}
form > div:last-child {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

input, textarea {
    background-color: var(--first-background);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    width: 50vw;
    resize: none;
}

input[type='submit'] {
    width: fit-content;
    background-color: var(--button-color-primary);
    color: var(--global-font-color-alternative);
    padding: 0.75rem;
    cursor: pointer;
    box-shadow: 3px 3px 0 1px #3b3d82;
}

section.bottom-footer {
    display: grid;
    text-align: center;
    padding: 2rem 8vw;
    row-gap: 3rem;
}

@media(max-width: 768px) {

    input, textarea {
        width: auto;
    }

    input[type='submit'] {
        padding: 1rem;
    }
}

/* Mobile rules ============================================================ */